html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header {
	text-align: center;
	font-size: 40px;
	font-family: 'COMIC SANS MS';
	padding-bottom: 10px;
	padding-top: 10px;

}

.both {
	height: 10px;
	clear: both;
}
.container {
	background: #FFFACD;
	width: 683px;
	position: relative;
	margin: 0 auto;
}
.navigation {
	width: 150px;
	margin: 10px 0 0 10px;
	display: inline-block;
	float: left;
	border-right: 1px solid gray;
}
.navigation a {
	text-decoration: none;
	color: black;
}
.navigation ul li {
	padding: 5px 0 2px 2px;
	border-radius: 5px;
}
.navigation ul li:hover {
	border: 1px solid black;
}
.product {
	padding: 0 5px 0;
	width: 250px;
	margin: 10px 0 0 -1px;
	float: left;
	display: inline-block;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.basket .name, .product .name {
	width: 145px;
	display: inline-block;
}
.basket ul .price, .product ul .price {
	display: inline-block;
	width: 50px;
}
.basket .product, .product .quantity {
	display: inline-block;
	width: 50px;
}
.basket ul li, .product ul li {
	padding-top: 3px;
	cursor: pointer;
	border-bottom: 1px solid gray;
	padding-left: 5px;

}
.basket ul li:hover, .product ul li:hover {
	background: black;
	color: white;
}
.basket {
	border-left: 1px solid gray;
	display: inline-block;
	width: 250px;
	float: left;
	margin: 10px 0 0 -1px;
	padding: 0 5px 0;
}
.title {
	display: block;
	text-align: center;
	font-family: 'COMIC SANS MS';
}
.active {
	background: Gainsboro;
}
.sort span {
	text-align: center;
	cursor: pointer;
}
.sort .sortName {
	display: inline-block;
	width: 130px;
}
.sortPrice, .sortQuantity  {
	display: inline-block;
	width: 50px;
}

